.resultado{
    height: 16rem;
    width: 18rem;
    border-radius: 0.7rem;
    background-color: rgb(0, 73, 77);
    margin-top: 3rem;
    padding-right: 1.5rem;

}

.valor--gorjeta{
    position: relative;
    width: 19rem;
    height: 5rem;

}


.titulo--valor__gorjeta {
    font-family: 'Space Mono', monospace;
    font-size: 0.9rem;
    font-weight:700;
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 2rem;
    left: 1.5rem;
    
}

.descritivo--valor__gorjeta{
    color: hsl(184, 14%, 56%);
    position: absolute;
    top: 4rem;
    left: 1.5rem;
    font-family: 'Space Mono', monospace;
    font-size: 0.8rem;
    font-weight:700;
}

.resultado--porpessoa{
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(172, 67%, 45%);
    position: absolute;
    left: 12rem;
    top: 2.5rem;
}

.valor--total{
    position: relative;
    width: 24rem;
    height: 5rem;

}
.titulo--total__gorjeta{
    font-family: 'Space Mono', monospace;
    font-size: 0.9rem;
    font-weight:700;
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 2rem;
    left: 1.5rem;
}

.descritivo--total__gorjeta{
    color: hsl(184, 14%, 56%);
    position: absolute;
    top: 4.3rem;
    left: 1.5rem;
    font-family: 'Space Mono', monospace;
    font-size: 0.8rem;
    font-weight:700;
}

.resultado--total{
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(172, 67%, 45%);
    position: absolute;
    left: 11rem;
    top: 3rem;
}

.reset{
    position: absolute;
    width: 17rem;
    height: 2.8rem;
    top: 2rem;
    left: 1rem;
    background-color: hsl(172, 67%, 45%);
    font-family: 'Space Mono', monospace;
    font-size: 1.3rem;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    border-radius: 0.2rem;
    border-style: none;
}

@media screen and (min-width: 1200px)and (max-width: 2500px){
    .resultado {
        height: 21rem;
        width: 24rem;
        padding:  19.5px 1rem 0.5rem
    }

    .titulo--valor__gorjeta {
        font-size: 1.0rem;
            
    }

    .descritivo--valor__gorjeta{
        font-size: 1rem;

    }

    .resultado--porpessoa{
        font-size: 1.8rem;
        left: 18rem;
    }


    .titulo--total__gorjeta{
        font-size: 1rem;
    }
    
    .descritivo--total__gorjeta{
        font-size: 1rem;
    }
    
    .resultado--total{
        font-size: 1.8rem;
        left: 17rem;
    }

    .reset{
        width: 23rem;
        height: 2.8rem;
        top: 7rem;
        font-size: 1rem;
        
    }
}