body {
    background-color: #F7F7FF;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    background-image: url("../images/bg-bottom.svg"),url("../images/bg-top.svg") ; 
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left,top right;
    background-size: 20rem 15rem, 20rem 25rem;
     
}




