
*{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    background-color: #fafafa;

}


.componententes-back{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.backgroud2{
    margin: 0;
    height: 35rem;
    width: 20rem;
    background-image: linear-gradient(to bottom right, #c540ff,#923afe) ;
    border-bottom-left-radius: 7rem;
    border-bottom-right-radius: 11rem;
    align-items: flex-start;
}

.backgroud3{
    margin: 5rem 0 0 0;
    height: 35rem;
    width: 20rem;
    background-color: #f7f5fa ;
    border-top-left-radius: 14rem;
    border-top-right-radius: 3rem;
   
    
}