.celular{
    background-color: #ffffff ;
    border-radius: 2rem;
    box-shadow: 0.8rem 0.8rem 1rem #dddddd8f ;
    height: 26rem;
    left: 17rem;
    position: absolute ;
    top: 8rem;
    width: 14rem;   
}

.celular-telabranca{
    background-color: #f7f5fa;
    border-radius: 1rem;
    height: 21.5rem;
    left: 17.8rem;
    position: absolute;
    top: 11.9rem;
    width: 12.4rem;
}

.celular-cabecalho__um{
    background: linear-gradient( to left , #ff41f6 ,#913afe);
    border-radius: 1rem 1rem 0.3rem 0.3rem;
    height: 3.8rem;
    left: 17.7rem;
    position: absolute;
    top: 8.8rem;
    width: 12.5rem;
    box-shadow: 0rem 0.3rem 0.4rem  #d1d1d18f ;
}

.celular-cabecalho__dois{
    background-color: #ffffff;
    border-radius: 3rem;
    height: 1.5rem;
    left: 20.7rem;
    position: absolute;
    top: 8.2rem;
    width: 6.5rem;
}
