.conversa-usuario{
    position: absolute;
    top: 14rem;
    left: 18rem;
    background-color: rgba(240, 248, 255, 0);
    height: 21.5rem;
}

.usuario-conversa__encapsulamento{
    background-color: rgba(240, 248, 255, 0);
    display: flex;
    flex-direction: column;
}


.balao-um {
    position: absolute;
    background-color: #e8d6f7;
    left: 0.5rem;;
    height: 1.3rem;
    width: 6rem;
    height: 1.5rem;
    width: 7rem;
    padding: 2px;
    font-family:'Manrope';
    font-size: 6px; 
    border-radius: 0.6rem 0.6rem 0.6rem 0.3rem;
    top: -0.6rem;
     
}

.balao-dois{
    position: absolute;
    background-color: #e8d6f7;
    left: 0.5rem;;
    top: 1.5rem;
    height: 1.5rem;
    width: 7rem;
    padding: 2px;
    font-family:'Manrope';
    font-size: 6px; 
    border-radius: 0.6rem 0.6rem 0.6rem 0.3rem; 
}

.fala-usuario__um{
    background-color: rgba(240, 248, 255, 0); 
    position: absolute;
    left: 0.5rem;
    top: 0.4rem;  
    color: #8643b3;
    height: 1.5rem;
    width: 5rem;
}


img{
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    margin: 0.2rem;
    background-color: rgba(240, 248, 255, 0);   
}

.fotos{
    position: absolute;
    background-color: rgba(240, 248, 255, 0); 
    left:4.7rem;
    top: 4rem;
    height: 2.5rem;
}

.fotos-cachorros{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(240, 248, 255, 0); 
    height: 3rem;
}

.balao-tres{
    position: absolute;
    background-color: #ffffff;
    left: 5.5rem;
    top: 6.5rem;
    height: 1.5rem;
    width: 6rem;
    padding: 2px;
    font-family:'Manrope';
    font-size: 6px; 
    border-radius: 0.6rem 0.6rem 0.3rem 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(199, 199, 199, 0.438);
    color: #2e2e2e;
}

.balao-quatro{
    position: absolute;
    background-color: #ffffff;
    left: 7.6rem;
    top: 8.7rem;
    height: 0.8rem;
    width: 3.8rem;
    padding: 2px;
    font-family: 'Manrope';
    font-size: 6px;
    border-radius: 0.6rem 0.6rem 0.3rem 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(199, 199, 199, 0.377);
    color: #2e2e2e;
}

.fala-usuario__dois{
    background-color: rgba(240, 248, 255, 0); 
    position: absolute;
    left: 0.5rem;
    top: 0.3rem;  
}

.balao-cinco{
    position: absolute;
    background-color: #e8d6f7;
    left: 0.5rem;
    top: 10.6rem;
    height: 2rem;
    width: 6rem;
    padding: 2px;
    font-family:'Manrope';
    font-size: 6px; 
    border-radius: 0.6rem 0.6rem 0.6rem 0.3rem; 
}

.balao-seis{
    display: flex;
    flex-direction: row;
    top: 13.4rem;
    left: 0.5rem;
    width: 7rem;
    position: absolute;
    background-image: linear-gradient( to left ,#913afe , #ff41f6 ) ;
    height: 1.5rem;
    border-radius: 0.6rem 0.6rem 0.6rem 0.3rem;
}

.fala-usuario__umroxo{
    background-color: rgba(240, 248, 255, 0);
    height: 0.8rem;
    font-family: 'Manrope';
    font-size: 6px;
    color: #ffffff;
    position: absolute;
    left: 1.5rem;
    top: 0.5rem;
}
.preco{
        background-color: rgba(240, 248, 255, 0);
        height: 0.8rem;
        font-family: 'Manrope';
        font-weight: 700;
        font-size: 9px;
        color: #ffffff;
        position: absolute;
        left: 5rem;
        top: 0.3rem;

}

#icone-balao1{
    margin: 0;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
    font-size: 11px;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
}

.balao-sete{
    display: flex;
    flex-direction: row;
    top: 15.2rem;
    left: 0.5rem;
    width: 7rem;
    position: absolute;
    background-image: linear-gradient( to left ,#913afe , #ff41f6 ) ;
    height: 1.5rem;
    border-radius: 0.6rem 0.6rem 0.6rem 0.3rem;
}

.fala-usuario__doisroxo{
    background-color: rgba(240, 248, 255, 0);
    height: 0.8rem;
    font-family: 'Manrope';
    font-size: 6px;
    color: #ffffff;
    position: absolute;
    left: 1.5rem;
    top: 0.5rem;
}

#icone-balao2{
    margin: 0;
    background-color: rgba(240, 248, 255, 0);
    color: #ffffff;
    font-size: 11px;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
}

.escrever-menssagem{
    position: absolute;
    left: 0.5rem;
    top: 17.2rem;
    width: 10rem;
    height: 1.3rem;
    border-radius: 3rem;
    background-color: #ffffff;
}

.texto{
    background-color: rgba(240, 248, 255, 0);
    position: absolute;
    font-family: 'Manrope';
    font-size: 6px;
    left: 1rem;
    top: 0.4rem;
    color: #c5c5c5;
}

#enviar-menssagem{
    position: absolute;
    font-size: 1.3rem;
    background-color: rgba(240, 248, 255, 0);
    left: 8.6rem;
    
}

