.texto-principal{
    position: absolute;
    left: 42rem;
    top: 17rem;
    background-color: #ffffff00;
    height: 13rem;
    
}

.titulo-principal{
    background-color: #ffffff00;
    font-family:'Manrope';
    font-weight:800;
    font-size: 1.7rem;
    height: 2rem;
    width: 20rem;
    margin: 0;
}

.subtitulo-principal{
    background-color: #ffffff00;
    font-family:'Manrope';
    font-weight: 400;
    font-size: 0.8rem;
    height: 8rem;
    width: 20rem;
    padding: 1rem 0;
    margin: 0;
    color: rgb(163, 157, 157);
}